VITE_FIREBASE_API_KEY=AIzaSyCW98RxxL-hBShVTIg1_DhcM34Y2f7opvE
VITE_FIREBASE_AUTH_DOMAIN=myschool-official.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=myschool-official
VITE_FIREBASE_STORAGE_BUCKET=myschool-official.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=785743603281
VITE_FIREBASE_APP_ID=1:785743603281:web:ea8c845ddd056109a37a70
VITE_FIREBASE_MEASUREMENT_ID=G-KM402GJDSS
VITE_IMGBB_API_KEY=57b4746af92a5b794e089bc9d0ab3d37
VITE_MYSCHOOL_AI_API=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
VITE_BACKEND_URL=https://myschool-official-server.vercel.app